<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li
          role="presentation"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <!-- routerLink catches the link of the element and prevents the default behavior. -->
          <a routerLink="/">Home</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a routerLink="servers">Servers</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <!-- With property binding, we can add more to the path like, /user/something will be [routerLink]="['users', 'something']"->  -->
          <a [routerLink]="['users']">Users</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- router-outlet - directive that marks the place in our document, where
         we want that angular router load the component of our currently selected routs.  -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
