<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- [formGroup] = signupForm, angular auto detect that we add a form here and it create a form for us.
           we need to add directive to overwrite this behavior to tell angular deferent instructions. (we must add ReactiveFormsModule on app.module for this to work)
           below we bind to our signupForm to this form.
           we still need to tell angular which controls should be connected to each input:
           so we add formControlName = [our signupForm arguments]
      -->
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <!-- We need to tell angular about our new userData FormGroup -->
        <div formGroupName="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              formControlName="username"
              class="form-control"
            />
            <!-- get method here gives us access to the form object.
                 With that we can display messages to the user about invalid entered data.
                 userData is a formGroup inside our signupForm that is also formGroup.
                 So we get the data on our control by userData.[control].
            -->
            <span
              *ngIf="
                !signupForm.get('userData.username').valid &&
                signupForm.get('userData.username').touched
              "
              class="help-block"
            >
              <span
                *ngIf="
                  signupForm.get('userData.username').errors['nameIsForbidden']
                "
                >This name is invalid!</span
              >
              <span
                *ngIf="signupForm.get('userData.username').errors['required']"
                >This field is required!</span
              >
            </span>
          </div>
          <div class="form-group">
            <label for="email">email</label>
            <input
              type="text"
              id="email"
              formControlName="email"
              class="form-control"
            />
            <span
              *ngIf="
                !signupForm.get('userData.email').valid &&
                signupForm.get('userData.email').touched
              "
              class="help-block"
              >Please enter a valid email!</span
            >
          </div>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input type="radio" formControlName="gender" [value]="gender" />{{
              gender
            }}
          </label>
        </div>
        <div formArrayName="hobbies">
          <h4>Your Hobbies</h4>
          <button class="btn btn-default" type="button" (click)="onAddHobby()">
            Add Hobby
          </button>
          <div
            class="form-group"
            *ngFor="
              let hobbyControl of signupForm.get('hobbies')?.controls;
              let i = index
            "
          >
            <input type="text" class="form-control" [formControlName]="i" />
          </div>
        </div>
        <span *ngIf="!signupForm.valid && signupForm.touched" class="help-block"
          >Please enter valid data!</span
        >
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
