<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- Using two way data binding - [(ngModel)] to bind to filteredStatus value from app.component.ts -->
      <input type="text" [(ngModel)]="filteredStatus" />
      <br />
      <button class="btn btn-primary" (click)="onAddServer()">
        Add Server
      </button>
      <br /><br />
      <h2>App Status: {{ appStatus | async }}</h2>
      <hr />
      <ul class="list-group">
        <!-- filter: filteredStatus:'status'" - use our filter pipe passing all of the server array, with the filterStatus bind argument (above)
             Then we filter our search result (on the filter pipe) by checking equality to the status key.
        -->
        <li
          class="list-group-item"
          *ngFor="let server of servers | filter: filteredStatus:'status'"
          [ngClass]="getStatusClasses(server)"
        >
          <span class="badge">
            {{ server.status }}
          </span>
          <!-- pass second argument (limit) to our custom pipe - 15.-->
          <strong>{{ server.name | shorten: 15 }}</strong> |
          {{ server.instanceType | uppercase }} |
          {{ server.started | date: "fullDate" | uppercase }}
        </li>
      </ul>
    </div>
  </div>
</div>
