<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <!-- Here on routerLink we using /, because we using an absolute path to go back 
        directly to localhost:4200/servers page and not to localhost:4200/servers/servers for example by using servers without the / -->

      <!-- queryParams - bindable property of the routeLink directive. 
            key: value pair for the query  -->

      <!-- fragment - add #X  -->
      <a
        [routerLink]="['/servers', server.id]"
        [queryParams]="{ allowEdit: server.id === 3 ? '1' : '0' }"
        fragment="loading"
        href="#"
        class="list-group-item"
        *ngFor="let server of servers"
      >
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <router-outlet></router-outlet>
    <!--<button class="btn btn-primary" (click)="onReload()">Reload Page</button>-->
    <!--<app-edit-server></app-edit-server>-->
    <!--<hr>-->
    <!--&lt;!&ndash;<app-server></app-server>&ndash;&gt;-->
  </div>
</div>
