<div class="row">
  <div class="col-xs-12">
    <p>Add new Servers or blueprints!</p>
    <label>Server Name</label>
    <!--<input type="text" class="form-control" [(ngModel)]="newServerName">-->

    <!-- LOCAL REFERENCE -->
    <!-- #serverNameInput = is a local reference, can be place on any html element,
       will hold a reference to the element it self, the whole html element.
      we pass it as an argument on - onAddServer function.
      WE CAN USE IT ANY WHERE ON THIS TEMPLATE ONLY AND ONLY HERE.
      -->
    <input type="text" class="form-control" #serverNameInput />
    <label>Server Content</label>
    <!--<input type="text" class="form-control" [(ngModel)]="newServerContent">-->
    <input type="text" class="form-control" #serverContentInput />
    <br />
    <button class="btn btn-primary" (click)="onAddServer(serverNameInput)">
      Add Server
    </button>
    <button class="btn btn-primary" (click)="onAddBlueprint(serverNameInput)">
      Add Server Blueprint
    </button>
  </div>
</div>
