<div class="container">
  <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (bpCreated)="onBlueprintAdded($event)"
  ></app-cockpit>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">
        Change first Element
      </button>
      <button class="btn btn-danger" (click)="onDestroyFirst()">
        Destroy first Component
      </button>
      <!-- [srvElement]="serverElement", passing props to app-server-element and binding to srvElement-->
      <app-server-element
        *ngFor="let serverElement of serverElements"
        [srvElement]="serverElement"
        [name]="serverElement.name"
      >
        <p #contentParagraph>
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{
            serverElement.content
          }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{
            serverElement.content
          }}</em>
        </p>
      </app-server-element>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <app-game-control
          (intervalFired)="onIntervalFired($event)"
        ></app-game-control>
        <p>{{ gameSeconds }}</p>

        <app-even
          *ngFor="let number of evenNumbers"
          [evenNumber]="number"
        ></app-even>
        <app-odd
          *ngFor="let number of oddNumbers"
          [oddNumber]="number"
        ></app-odd>
      </div>
    </div>
  </div>
</div>
